body {
  background-image: url(./Imagenes/fruta.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 750px;
  margin: 0 auto;
  margin-top: 50px;
}
.factura {
  background-color: white;
  border: solid 4px black;
  /* text-align: center; */
  width: auto;
  height: auto;
}
.firma {
  width: 120px;
  height: 70px;
}
tbody{
    color: blue;
    font-family: sans-serif;
}
thead{
    background-color: beige;
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
tfoot{
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
#cant{
    text-align: center;
}