* {
  margin: o;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-areas:
  "header header header header"
  "nav section section aside"
  "footer footer footer footer";
  /* background-color: red; */
  border: solid 2px;
  grid-template-columns:  150px 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  grid-template:
  "header header header header" 150px
  "nav section section aside" 150px
  "footer footer footer footer" 150px /
  150px 150px 150px 150px;

}
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
aside{
    grid-area: aside;
}
section{
    grid-area: section;
}
footer{
    grid-area: footer;
}
.container div{
    padding: 10px;
    font-size: 2em;
    text-align: center;
}
.item1{
    background-color: blueviolet;
    border: blue;
    grid-row: 1/2;
}
.reset{
    border: solid;
    grid-column: 3/span 2;
}
.equal{
    border: solid;
    grid-column: 3/span 2;
}